#contact-form-container {
    margin: 50px 0px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#contact-form-container img{
    width: 600px;
}

#contact-forms {
    border: 1px solid #fafafa;
    padding: 2.6rem 2rem 4rem 2rem;
    box-shadow: 5px 10px 8px #888888;
}

#contact-forms h2 {
    font: var(--header-font);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact-input {
    font: var(--text-font);
    font-size: 1.1rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: .8rem;
}

.contact-input label {
    margin-bottom: 5px;
}

.contact-input input {
    padding: .3rem .35rem;
    font-size: 1rem;
    background-color: #f1f1f1;
    outline: none;
    border-radius: .2em;
    border: 1px solid #cccccc;
}

.contact-input input:focus,
.contact-input textarea:focus {
    background-color: #dbdbdb;
}

.contact-input textarea {
    font: var(--text-font);
    padding: .3rem .35rem;
    font-size: 0.8rem;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    outline: none;
}

#form-btn {
    margin-top: 10px;
    font: var(--text-font);
    cursor: pointer;
    padding: .5rem 1.3rem;
    border-radius: .6rem;
    background-color: #f1f1f1;
    transition: 0.2s ease-in-out;
    border: 1px solid #cecece;
}

#form-btn:hover {
    background-color: #cfcfcf;
    border: 1px solid rgb(226, 226, 226);
}

#contact-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    height: 250px;
    margin-bottom: 70px;
}

main h2 {
    font: var(--header-font);
    font-weight: bold;
}

main div {
    border-radius: 20px;
    padding: 2rem;
    font: var(--text-font);
}

#contact-links {
    width: 38%;
    background-color: #e2e2e2;
}

#contact-links h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#contact-links ul {
    margin-left: 20px;
    list-style: none;
}

#contact-links ul li {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 20px;
}

#contact-links ul li img {
    width: 25px;
    margin-right: 10px;
}

#contact-messages {
    width: 57%;
    background-color: #e2e2e2;
}

#contact-messages h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#contact-messages p {
    line-height: 1.4em;
}
