main {
    width: 100vw;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-intro {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.home-intro img {
    width: 500px;
}

.home-info {
    border-radius: 20px;
    padding: 2rem;
    background-color: #e2e2e2;
    width: 500px;
    font: var(--text-font);
    line-height: 1.5em;
    margin: 2em;
}

.home-info h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.home-info ul {
    padding-left: 50px;
}

.home-info li {
    margin-bottom: 8px;
}