*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

:root {
    --header-font: 1.2em "Fira Sans", sans-serif, bold;
    --text-font: 1em "Fira Sans", sans-serif, normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    border-bottom: gray 1px solid;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--header-font);
}

.logo-name img {
    flex: none;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.site-links {
    display: flex;
    align-items: center;
    font: var(--text-font);
}

.site-links a {
    padding-left: 30px;
}

footer {
    width: 100vw;
    height: 100px;
    background-color: gray;
}

